body {
  position: relative;
  background-color: black;

  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: auto;

  color: whitesmoke;
}
.menu {
  font-size: 15px;
  text-align: center;
}
header {
  font-size: 40px;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
li {
  margin: 10px;

  display: inline;
  position: relative;
}
input {
  display: inline;
  list-style: none;
  background-color: black;
  color: whitesmoke;
  font-size: 15px;
}

#main-nav {
  text-align: center;
  justify-content: center;
}
